extends /layouts/application.pug

block content
  .container
    a.btn.btn-info(href=urlFor('newTask') role=button) Create new task


    form.form-inline(action=urlFor('tasks'))
      .form-group
        select(name='category' class='form-control' value='category')
          option All
          option(value='creatorId') Created
          option(value='assignedToId') Assigned to
      .form-group
        select(name='status' class='form-control' value='status')
          option All
          each status in statuses
            option(value= status.id)= status.name
      .form-group
        button(class='btn btn-primary' type='submit') Search

  table.table.table-stripped
    thead
      tr
        th ID
        th Name
        th Creator
        th Assigned To
        th Status
        th Action
    tbody
      if tasks
        each task in tasks
          tr
            td= task.id
            td= task.name
            td= task.creator
            td= task.assignedTo
            td= task.status
            td
              ul.list-inline
                li
                  a(href='/tasks/' + task.id)
                    span.glyphicon.glyphicon-eye-open(aria-hidden='true')
                li
                  a(href='#')
                    span.glyphicon.glyphicon-edit(aria-hidden='true')
                li
                  a(href='#')
                    span.glyphicon.glyphicon-trash(aria-hidden='true')
