extends /layouts/application.pug

block content
  h1= `Tasks with tag ${tag.name}`
  
  table.table.table-stripped
    thead
      tr
        th ID
        th Name
        th Creator
        th Assigned To
        th Status
        th Action
    tbody
      if tasks
        each task in tasks
          tr
            td= task.id
            td= task.name
            td= task.creator
            td= task.assignedTo
            td= task.status
            td
              ul.list-inline
                li
                  a(href='/tasks/' + task.id)
                    span.glyphicon.glyphicon-eye-open(aria-hidden='true')
                li
                  a(href='#')
                    span.glyphicon.glyphicon-edit(aria-hidden='true')
                li
                  a(href='#')
                    span.glyphicon.glyphicon-trash(aria-hidden='true')
